<script>
    _fns.addCtrlrJs('pie_topapps');

</script>

<!--控制器界面部分-->
<div layout layout-align='stretch stretch' id='pie_topapps' ng-controller='pie_topapps' class='pie_topapps' style='width: 100%; height: 100%; overflow:visible;background:#FFF'>
    <style>
        /*内部样式，以控制器名为class开头*/

    </style>
    <!--控制器界面部分-->
    <div layout-padding style="width:100%">
        <!--        顶部-->
        <div>
            <md-button hide-gt-sm class="md-icon-button" ng-click="$root.tagLeftMenu()" style='margin-left:0' aria-label='tagleft'>
                <span class="fa fa-bars fa-lg"></span>
            </md-button>
            <md-button id='leftnavbtn' class="md-icon-button hidden-xs" ng-click="$root.tagLeftMenu()" style='margin-left:0;color:#AAA' aria-label='tagleft' data-toggle="tooltip" data-placement="bottom" title="显示／隐藏左侧菜单栏">
                <span class="fa fa-chevron-left fa-lg" ng-show='$root.leftMenuOpen'></span>
                <span class="fa fa-bars fa-lg" ng-hide='$root.leftMenuOpen'></span>
            </md-button>


            <div class="dropdown pull-right" ng-show='hasLogin' style="margin-top:8px">
                <button class="dropdown-toggle" id="ddmenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background:none;border:none">
                    <span>
                        <img class='avatar-md' ng-src='{{myUsrInfo.avatar?myUsrInfo.avatar+"-avatar32":""}}' />
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="ddmenu1">
                    <li class="btn" ng-click='gotoProfile()' style="width:100%">资料设置</li>
                    <md-divider></md-divider>
                    <li class="btn" ng-click='logout()' style="width:100%">退出</li>
                </ul>
            </div>
        </div>

        <!--        showapp列表-->
        <div style="padding:16px">
            <h5 style="margin-left:20px;color:#888">推荐APP(随机)</h5>
            <div layout layout-wrap class='container-fluid'>
                <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2' ng-repeat='item in showApps' style='padding:0.5rem'>
                    <md-card md-theme="default" md-theme-watch style='margin:0;'>
                        <md-card-title class="elips" style='padding:0;overflow:hidden;position:relative'>
                            <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg2(item.val)'></div>
                            <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg(item.id)'></div>
                            <md-card-title-text class="elips" style='margin:16px;z-index:6'>
                                <div class="md-headline elips" ng-click='openApp(item)' style="cursor:pointer;">
                                    <span class="md-headline elips" ng-bind='item.alias' style='color:#000;font-size:16px'></span>
                                </div>
                                <div class="md-subhead elips" ng-click='likeApp(item)' style="cursor:pointer;color:#000;opacity:0.5;font-size:10px">
                                    <span class='fa fa-thumbs-up'></span>
                                    <span ng-bind='{{item.hit?item.hit:0}}'></span>
                                </div>
                            </md-card-title-text>
                        </md-card-title>


                        <!--   下拉菜单-->
                        <md-card-actions layout-wrap layout="row" layout-align="end center" style='color:#AAA'>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-click='openApp(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="运行App主页">
                                <span class='fa fa-rocket'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn md-primary" ng-show='item.hashit' ng-click='likeApp(item)' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" title="好就给它投一票！">
                                <span class='fa fa-thumbs-up'></span>
                            </md-button>
                            <md-button flex='none' class="md-icon-button itbtn  md-default" ng-hide='item.hashit' aria-label='a' style='margin:0' data-toggle="tooltip" data-placement="bottom" ng-click='likeApp(item)' title="谢谢你的支持！">
                                <span class='fa fa-thumbs-up'></span>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>

    </div>


</div>










<!---->
